.App {
  text-align: center;
  
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: rgb(236, 193, 135);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
  
}

.NavBar {
  display: flex;
  /* background-color: #254d58; */
  background-color: rgb(116,87,27);
  width: 100vw;
  font-size: calc(10px + 2vw);
  position: fixed;
  top: 0px;
  box-shadow: 0px 8px 8px -6px rgba(0,0,0,.5);
  z-index: 99;
}

.customLink{
  display: flex;
  /* align-content: center; */
  align-items: center ;
  justify-content: center;
  margin: 10px;
  color: #ff0000;
  font-family: 'papyrus';
  
  /* color: rgb(116,87,27); */
  color: rgb(255,255,64);
  /* color: rgb(232,158,24); */

}

.customFont{
  font-family: 'papyrus';
  color: rgb(214, 214, 23);
  text-shadow: -1px 0 black, 0 0px black, 0px 0 black, 0 -1px black;
}

#p{
  /* display: flex; */
  /* margin: 10px; */
}

.loading {
  display: flex;
  margin: 10px;
}

.cardBox {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  /* background-color: red; */
  width: auto;
  height: auto;
}

.column{
  display: flex;
  flex-direction: column;
  border-style: dashed;
  justify-content: center;
  align-items: center;
  
  border-color: rgb(68, 68, 56);
}

.row{
  display: flex;
  flex-direction: row;
}

.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted rgb(0, 0, 0);
}

.tooltip .tooltiptext {
 
  max-width:100px;
  padding:15px;
  min-height:30px;
  background:#fff;
  visibility: hidden;
  border: 1px solid black;
  color: #000;
  text-align: center;
  border-radius: 6px;
  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  word-wrap:break-word;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

.categoryImage{
  display: flex;
  min-width: 250px;
  max-width: 600px;
}

.customInput{
  display: flex;
  font-size: calc(14px + 1vw);
  width: 400px;
}

input[type=text] {
  /* transition: width 1s ease-in-out; */
}

input[type=text]:focus {
  /* width: 50%; */
}

.customButton{
  display: flex;
  font-size: 50px;
  height: calc( 50px + 2vw );
  /* padding: 15px; */
}

.imgBox{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.centerFit{
  max-width: 100%;
  max-height: 800vh;
  margin: auto;
}

.centered{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.searchBar{
  position: relative;
  width:250px; 
  z-index: 10;
}

.searchBar input{
  position: relative;
  /* z-index: 1; */
  border:none; 
  background: none;
  font-size: 30px;
  display:block; 
  width: 70%; 
  color: rgb(255,255,64);
  border: none;
  font-family: 'copperplate';
}
.searchBar input:focus, textarea{
  outline: none !important;
  color: rgb(255,255,64);
  /* text-shadow: -1px 0 black, 0 0px black, 0px 0 black, 0 -1px black; */
 
}
.searchBar img{
  
  position: absolute; 
  top: -13px;
  right: 10px;
  z-index: -1;
}

.resetButton {
  font-size: 30px;
  color: rgb(255,255,64);
  font-family: "papyrus";
  border-radius: 30px; 
  background-color:  rgb(116,87,27);

}

.customListBox{
  display: flex;
  font-size: 30px;
}